In [88]:
! pip install xlrd
! pip install openpyxl

Looking in indexes: https://aws:****@tactful-409160330780.d.codeartifact.eu-west-1.amazonaws.com/pypi/ucx-pip/simple/
Requirement already satisfied: xlrd in /home/morsi/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.0.1)
Looking in indexes: https://aws:****@tactful-409160330780.d.codeartifact.eu-west-1.amazonaws.com/pypi/ucx-pip/simple/
Collecting openpyxl
  Downloading https://tactful-409160330780.d.codeartifact.eu-west-1.amazonaws.com/pypi/ucx-pip/simple/openpyxl/3.1.5/openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 690.4 kB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading https://tactful-409160330780.d.codeartifact.eu-west-1.amazonaws.com/pypi/ucx-pip/simple/et-xmlfile/1.1.0/et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [163]:
import pandas as pd
import numpy as np

# Read Energy Indicators and Apply EDA On it.

In [164]:
energy = pd.read_excel("Energy Indicators.xls", header=None, skipfooter=38, skiprows=18)

In [165]:
energy.head()

    0               1               2     3    4           5
0 NaN     Afghanistan     Afghanistan   321   10   78.669280
1 NaN         Albania         Albania   102   35  100.000000
2 NaN         Algeria         Algeria  1959   51    0.551010
3 NaN  American Samoa  American Samoa   ...  ...    0.641026
4 NaN         Andorra         Andorra     9  121   88.695650

In [166]:
# Show the 5 last rows of the imoperted data
energy.tail()

,0,1,2,3,4,5
222,NaN,Viet Nam,Viet Nam,2554,28,45.32152
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.00000
224,NaN,Yemen,Yemen,344,13,0.00000
225,NaN,Zambia,Zambia,400,26,99.71467
226,NaN,Zimbabwe,Zimbabwe,480,32,52.53612

In [167]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       227 non-null    object
 2   2       227 non-null    object
 3   3       227 non-null    object
 4   4       227 non-null    object
 5   5       227 non-null    float64
dtypes: float64(2), object(4)
memory usage: 10.8+ KB

In [168]:
# Drop the first column that contains null 
energy.drop(energy.columns[0], axis=1, inplace=True)

In [169]:
energy.head()

                1               2     3    4           5
0     Afghanistan     Afghanistan   321   10   78.669280
1         Albania         Albania   102   35  100.000000
2         Algeria         Algeria  1959   51    0.551010
3  American Samoa  American Samoa   ...  ...    0.641026
4         Andorra         Andorra     9  121   88.695650

In [170]:
# also get rid of data in first column that duplacted
energy.drop(energy.columns[0], axis=1, inplace=True)

In [171]:
# Rename the columns:

# Create list contains the needed names:
columns_list = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

# Assign the culomns name to the dataframe:
energy.columns = columns_list

In [172]:
energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0     Afghanistan           321                       10    78.669280
1         Albania           102                       35   100.000000
2         Algeria          1959                       51     0.551010
3  American Samoa           ...                      ...     0.641026
4         Andorra             9                      121    88.695650

In [173]:
energy["Energy Supply"] = energy["Energy Supply"].replace(r'\.*', np.nan, regex=True)

/tmp/ipykernel_308746/2381188699.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy["Energy Supply"] = energy["Energy Supply"].replace(r'\.*', np.nan, regex=True)

In [174]:
# Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule). 
energy['Energy Supply'] *= 1000000

In [175]:
# Replace the cells of "..." value with np.nans 
energy.replace('...', np.nan, inplace=True)

/tmp/ipykernel_308746/1711703656.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy.replace('...', np.nan, inplace=True)

In [176]:
# check the uniqe values in countries
energy["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia1', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China2',
       'China, Hong Kong Special Administrative Region3',
       'China, Macao Special Administrative Region4', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark5', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands (Malvinas)',
       'Fiji', 'Finland', 'France6', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland7', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia8',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy9', 'Jamaica', 'Japan10', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait11', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands12', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal13', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia14', 'Senegal',
       'Serbia15', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain16', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland17', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine18', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland19',
       'United Republic of Tanzania', 'United States of America20',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [206]:
# Replace required countries names:
energy['Country'] = energy['Country'].replace(to_replace="Republic of Korea", value="South Korea", regex=False)
energy['Country'] = energy['Country'].replace(to_replace="United States of America", value="United States",regex=False)
energy['Country'] = energy['Country'].replace(to_replace="United Kingdom of Great Britain and Northern Ireland", value="United Kingdom",regex=False)
energy['Country'] = energy['Country'].replace(to_replace="China, Hong Kong Special Administrative Region", value="Hong Kong",regex=False)

In [207]:
# Remove Special Charachters and numbrs from countries names:
# Replace the values with only the part before the parentheses
energy['Country'] = energy['Country'].str.split('(').str[0].str.strip()
energy['Country'] = energy['Country'].replace(regex={r"[^A-Za-z ]": ""} ).replace('', np.nan, regex=False)

In [208]:
# Validate the replacement:
# energy[energy['Country'] == 'United States of America']
energy[energy['Country'] == 'United States']

           Country  Energy Supply  Energy Supply per Capita  % Renewable
216  United States   9.083800e+10                     286.0     11.57098

In [209]:
energy["Country"].values

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China Hong Kong Special Administrative Region',
       'China Macao Special Administrative Region', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', 'Cte dIvoire', 'Croatia',
       'Cuba', 'Curaao', 'Cyprus', 'Czech Republic',
       'Democratic Peoples Republic of Korea',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'GuineaBissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Lao Peoples Democratic Republic',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'South Korea', 'Republic of Moldova', 'Runion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'TimorLeste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [210]:
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

---
---
---

### Step 1
Next, load the GDP data from the file world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea,
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

In [211]:
# Load GDP data:
GDP = pd.read_csv('world_bank.csv', skiprows=4)

In [212]:
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [213]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 60 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            119 non-null    float64
 5   1961            120 non-null    float64
 6   1962            120 non-null    float64
 7   1963            120 non-null    float64
 8   1964            120 non-null    float64
 9   1965            127 non-null    float64
 10  1966            132 non-null    float64
 11  1967            133 non-null    float64
 12  1968            137 non-null    float64
 13  1969            137 non-null    float64
 14  1970            146 non-null    float64
 15  1971            146 non-null    float64
 16  1972            146 non-null    float64
 17  1973            146 non-null    float64
 18  1974            147 non-null    float64
 19  1975            152 non-null    float64
 20  1976            153 non-null    float64
 21  1977            158 non-null    float64
 22  1978            158 non-null    float64
 23  1979            159 non-null    float64
 24  1980            172 non-null    float64
 25  1981            177 non-null    float64
 26  1982            181 non-null    float64
 27  1983            181 non-null    float64
 28  1984            185 non-null    float64
 29  1985            187 non-null    float64
 30  1986            190 non-null    float64
 31  1987            193 non-null    float64
 32  1988            196 non-null    float64
 33  1989            199 non-null    float64
 34  1990            212 non-null    float64
 35  1991            214 non-null    float64
 36  1992            217 non-null    float64
 37  1993            218 non-null    float64
 38  1994            220 non-null    float64
 39  1995            226 non-null    float64
 40  1996            226 non-null    float64
 41  1997            227 non-null    float64
 42  1998            228 non-null    float64
 43  1999            230 non-null    float64
 44  2000            235 non-null    float64
 45  2001            236 non-null    float64
 46  2002            237 non-null    float64
 47  2003            237 non-null    float64
 48  2004            237 non-null    float64
 49  2005            237 non-null    float64
 50  2006            237 non-null    float64
 51  2007            237 non-null    float64
 52  2008            238 non-null    float64
 53  2009            238 non-null    float64
 54  2010            243 non-null    float64
 55  2011            238 non-null    float64
 56  2012            237 non-null    float64
 57  2013            237 non-null    float64
 58  2014            230 non-null    float64
 59  2015            214 non-null    float64
dtypes: float64(56), object(4)
memory usage: 123.9+ KB

In [214]:
GDP.drop(columns=["Indicator Name", "Indicator Code"])

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,1.120109e+11,1.200718e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,1.803656e+10,1.785877e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,5.794651e+09,6.253570e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,4.028795e+09,4.365885e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [215]:
# Drop the columns that is nit needed (Keep just last 10 years):
GDP.drop(GDP.columns[2:-10], axis = 1, inplace = True)

In [216]:
# Rename the required countries:
GDP['Country Name'] = GDP['Country Name'].replace("Korea, Rep.", "South Korea")
GDP['Country Name'] = GDP['Country Name'].replace("Iran, Islamic Rep.", "Iran")
GDP['Country Name'] = GDP['Country Name'].replace("Hong Kong SAR, China", "Hong Kong")

In [217]:
GDP['Country Name'].unique()

array(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'South Korea', 'Kosovo', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'Pacific island small states', 'Post-demographic dividend',
       'French Polynesia', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Middle East & North Africa (IDA & IBRD countries)', 'Timor-Leste',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'West Bank and Gaza', 'World', 'Samoa', 'Yemen, Rep.',
       'South Africa', 'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

### Step 2

Finally, load the [http://www.scimagojr.com/countryrank.php?category=2102](Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology) from the file scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

In [218]:
# Load the data:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

In [219]:
# Check the data:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

### Step 3
- Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).
- The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].
- This step should yield a data frame with 20 columns and 15 entries.

In [220]:
GDP.rename(columns={"Country Name": "Country"}, inplace=True)

In [221]:
# Merge all dataframes:


merged_first= pd.merge(energy, ScimEn, on='Country', how= 'inner')
merged_final = pd.merge(merged_first, GDP, on='Country', how= 'inner')

In [222]:
merged_final.head(30)

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,3.210000e+08,10.0,78.669280,163,3,3,0,0,0.00,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
1,Albania,1.020000e+08,35.0,100.000000,118,23,23,168,14,7.30,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
2,Algeria,1.959000e+09,51.0,0.551010,42,1215,1197,7393,1413,6.08,...,1.446474e+11,1.495654e+11,1.531550e+11,1.556055e+11,1.612073e+11,1.658823e+11,1.715223e+11,1.763249e+11,1.830252e+11,1.901632e+11
3,American Samoa,NaN,NaN,0.641026,180,1,1,0,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,9.000000e+06,121.0,88.695650,168,2,2,13,0,6.50,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
5,Angola,6.420000e+08,27.0,70.909090,99,50,50,79,0,1.58,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
6,Antigua and Barbuda,8.000000e+06,84.0,0.000000,169,2,2,0,0,0.00,...,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
7,Argentina,3.378000e+09,79.0,24.064520,40,1223,1213,10620,1654,8.68,...,3.788140e+11,4.089887e+11,4.215649e+11,4.217758e+11,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN
8,Armenia,1.430000e+08,48.0,28.236060,86,91,91,518,207,5.69,...,8.679746e+09,9.873142e+09,1.055439e+10,9.060944e+09,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10
9,Australia,5.386000e+09,231.0,11.810810,14,8831,8725,90765,15606,10.28,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
10,Austria,1.391000e+09,164.0,72.452820,35,1761,1736,14580,1557,8.28,...,3.782096e+11,3.919065e+11,3.979703e+11,3.828512e+11,3.902351e+11,4.011929e+11,4.042312e+11,4.055298e+11,4.069632e+11,4.104717e+11
11,Azerbaijan,5.670000e+08,60.0,6.384345,67,342,339,548,125,1.60,...,3.329047e+10,4.162940e+10,4.611390e+10,5.045352e+10,5.290270e+10,5.293758e+10,5.410221e+10,5.723834e+10,5.838310e+10,5.902532e+10
12,Bahrain,5.740000e+08,425.0,0.000000,82,111,109,997,33,8.98,...,2.088961e+10,2.262186e+10,2.403463e+10,2.464505e+10,2.571327e+10,2.625330e+10,2.719545e+10,2.866752e+10,2.995210e+10,3.082866e+10
13,Bangladesh,1.625000e+09,10.0,1.966329,63,477,472,1948,143,4.08,...,9.158885e+10,9.805377e+10,1.039505e+11,1.091950e+11,1.152791e+11,1.227312e+11,1.307350e+11,1.385969e+11,1.469974e+11,1.566295e+11
14,Barbados,1.900000e+07,69.0,0.000000,140,7,7,14,3,2.00,...,4.522426e+09,4.599352e+09,4.619595e+09,4.433354e+09,4.445500e+09,4.477890e+09,4.490036e+09,4.490036e+09,4.498133e+09,4.542669e+09
15,Belarus,1.142000e+09,120.0,0.463389,72,240,234,989,119,4.12,...,4.274098e+10,4.641670e+10,5.115121e+10,5.125351e+10,5.522093e+10,5.828222e+10,5.929132e+10,5.992787e+10,6.096048e+10,5.859052e+10
16,Belgium,2.338000e+09,210.0,9.959739,29,2697,2642,23720,3300,8.79,...,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
17,Belize,1.300000e+07,39.0,64.690030,185,1,1,6,0,6.00,...,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
18,Benin,1.700000e+08,16.0,0.000000,141,7,7,8,1,1.14,...,6.000596e+09,6.359822e+09,6.671034e+09,6.825750e+09,6.970241e+09,7.176752e+09,7.509970e+09,8.026581e+09,8.551638e+09,8.999782e+09
19,Bermuda,6.000000e+06,88.0,0.000000,174,2,2,12,0,6.00,...,5.932559e+09,6.101393e+09,6.194616e+09,5.867282e+09,5.744414e+09,5.552580e+09,5.284138e+09,5.151445e+09,NaN,NaN
20,Bhutan,6.300000e+07,83.0,100.000000,136,8,8,36,0,4.50,...,1.076853e+09,1.269887e+09,1.330440e+09,1.419010e+09,1.585473e+09,1.710581e+09,1.797337e+09,1.835844e+09,1.936060e+09,1.999064e+09
21,Bolivia,3.360000e+08,32.0,31.477120,113,26,24,103,9,3.96,...,1.644957e+10,1.720040e+10,1.825796e+10,1.887088e+10,1.964963e+10,2.067222e+10,2.173110e+10,2.320795e+10,2.447524e+10,2.544488e+10
22,Bosnia and Herzegovina,2.660000e+08,70.0,41.464670,85,92,91,421,48,4.58,...,1.572365e+10,1.662442e+10,1.753569e+10,1.703244e+10,1.716312e+10,1.731900e+10,1.715738e+10,1.756816e+10,1.775823e+10,1.831896e+10
23,Botswana,8.600000e+07,39.0,0.131406,107,34,32,79,5,2.32,...,1.108667e+10,1.200467e+10,1.275401e+10,1.177803e+10,1.278666e+10,1.356004e+10,1.416434e+10,1.556098e+10,1.605954e+10,1.601864e+10
24,Brazil,1.214900e+10,59.0,69.648030,15,8668,8596,60702,14396,7.00,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
25,Brunei Darussalam,1.270000e+08,310.0,0.045434,81,113,113,533,43,4.72,...,1.249730e+10,1.251661e+10,1.227383e+10,1.205725e+10,1.237062e+10,1.279491e+10,1.291625e+10,1.268996e+10,1.239301e+10,1.233105e+10
26,Bulgaria,7.030000e+08,97.0,17.234610,59,545,540,6095,989,11.18,...,4.580943e+10,4.932546e+10,5.211087e+10,4.991194e+10,4.993917e+10,5.073019e+10,5.085046e+10,5.150230e+10,5.230059e+10,5.385242e+10
27,Burkina Faso,1.640000e+08,10.0,14.500680,114,26,26,158,18,6.08,...,7.094394e+09,7.495583e+09,8.042348e+09,8.280563e+09,8.979967e+09,9.565619e+09,1.018286e+10,1.055446e+10,1.098168e+10,1.141871e+10
28,Burundi,5.800000e+07,6.0,86.792450,176,2,2,23,0,11.50,...,1.714698e+09,1.796761e+09,1.887463e+09,1.952928e+09,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09
29,Cambodia,2.500000e+08,17.0,57.311590,154,5,5,42,0,8.40,...,9.014923e+09,9.935578e+09,1.060043e+10,1.060962e+10,1.124228e+10,1.203706e+10,1.291111e+10,1.387686e+10,1.485816e+10,1.590359e+10

In [223]:
merged_final.shape

(161, 22)

In [224]:
# Set the country as the index of the final merged dataframe:
merged_final.set_index('Country', inplace= True)

In [225]:
# sort the countries based on thier rank
merged_final = merged_final.sort_values(by = 'Rank')

In [226]:
merged_final

,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.75491,1,127050,126767,597237,411683,4.70,138,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,9.083800e+10,286.0,11.57098,2,96661,94747,792274,265436,8.20,230,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,1.898400e+10,149.0,10.23282,3,30504,30287,223024,61554,7.31,134,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,7.920000e+09,124.0,10.60047,4,20944,20357,206091,37874,9.84,139,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,3.070900e+10,214.0,17.28868,5,18534,18301,34266,12422,1.85,57,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Maldives,1.500000e+07,43.0,0.00000,183,1,1,1,0,1.00,1,...,1.862196e+09,2.063143e+09,2.320557e+09,2.192661e+09,2.323402e+09,2.525755e+09,2.588810e+09,2.710479e+09,2.886134e+09,2.929826e+09
Belize,1.300000e+07,39.0,64.69003,185,1,1,6,0,6.00,1,...,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
Palau,3.000000e+06,152.0,18.75000,186,1,1,0,0,0.00,0,...,2.074094e+08,2.072990e+08,1.957150e+08,1.779528e+08,1.838000e+08,1.930672e+08,1.992454e+08,1.943911e+08,2.026654e+08,2.216412e+08
Guyana,3.400000e+07,45.0,0.00000,187,1,1,0,0,0.00,0,...,1.919759e+09,2.054533e+09,2.095143e+09,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09
Mauritania,5.100000e+07,13.0,0.00000,191,1,1,1,0,1.00,1,...,4.025616e+09,4.139051e+09,4.183751e+09,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN

In [227]:
# filter the Top 15 country:
merged_final_15 = merged_final.iloc[:15]

In [228]:
merged_final_15

,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,1,127050,126767,597237,411683,4.70,138,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,9.083800e+10,286.0,11.570980,2,96661,94747,792274,265436,8.20,230,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,1.898400e+10,149.0,10.232820,3,30504,30287,223024,61554,7.31,134,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,7.920000e+09,124.0,10.600470,4,20944,20357,206091,37874,9.84,139,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,3.070900e+10,214.0,17.288680,5,18534,18301,34266,12422,1.85,57,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,1.043100e+10,296.0,61.945430,6,17899,17620,215003,40930,12.01,149,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,1.326100e+10,165.0,17.901530,7,17027,16831,140566,27426,8.26,126,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,3.319500e+10,26.0,14.969080,8,15005,14841,128763,37209,8.58,115,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,1.059700e+10,166.0,17.020280,9,13153,12973,130632,28601,9.93,114,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,1.100700e+10,221.0,2.279353,10,11983,11923,114675,22595,9.57,104,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,6.530000e+09,109.0,33.667230,11,10964,10794,111850,26661,10.20,106,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,4.923000e+09,106.0,37.968590,12,9428,9330,123336,23964,13.08,115,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,9.172000e+09,119.0,5.707721,13,8896,8819,57470,19125,6.46,72,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,5.386000e+09,231.0,11.810810,14,8831,8725,90765,15606,10.28,107,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,1.214900e+10,59.0,69.648030,15,8668,8596,60702,14396,7.00,86,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [231]:
merged_final_15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Energy Supply             15 non-null     float64
 1   Energy Supply per Capita  15 non-null     float64
 2   % Renewable               15 non-null     float64
 3   Rank                      15 non-null     int64
 4   Documents                 15 non-null     int64
 5   Citable documents         15 non-null     int64
 6   Citations                 15 non-null     int64
 7   Self-citations            15 non-null     int64
 8   Citations per document    15 non-null     float64
 9   H index                   15 non-null     int64
 10  Country Code              15 non-null     object
 11  2006                      15 non-null     float64
 12  2007                      15 non-null     float64
 13  2008                      15 non-null     float64
 14  2009                      15 non-null     float64
 15  2010                      15 non-null     float64
 16  2011                      15 non-null     float64
 17  2012                      15 non-null     float64
 18  2013                      15 non-null     float64
 19  2014                      15 non-null     float64
 20  2015                      14 non-null     float64
dtypes: float64(14), int64(6), object(1)
memory usage: 2.6+ KB

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This step should yield a single number.

In [230]:
# Find the diference between the length of the dataframe before filtring and after filtering
# This calculation with find how mant rows of data lost
data_lost = len(merged_final) - len(merged_final_15)
data_lost

146

### Step 5
Answer the following questions in the context of only the top 15 countries by Scimagojr Rank
1. What is the average GDP over the last 10 years for each country? (Exclude missing values from this calculation.)
        ◦ This step should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.
2. What is the mean Energy Supply per Capita?
        ◦ This step should return a single number.
3. What country has the maximum % Renewable and what is the percentage?
        ◦ This step should return a tuple with the name of the country and the percentage.

In [232]:
merged_final_15['avgGDP'] = merged_final_15.iloc[:, 11:].mean(axis = 1)

/tmp/ipykernel_308746/1056415683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_final_15['avgGDP'] = merged_final_15.iloc[:, 11:].mean(axis = 1)

In [233]:
merged_final_15['avgGDP'].sort_values(ascending=False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

In [234]:
# What is the mean Energy Supply per Capita?
merged_final_15['Energy Supply per Capita'].mean()

157.6

In [235]:
# What country has the maximum % Renewable and what is the percentage?
(merged_final_15['% Renewable'].idxmax(), merged_final_15['% Renewable'].max())

('Brazil', 69.64803)

### Step 6
- Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?
>This step should return a tuple with the name of the country and the ratio.

In [236]:
# Create the new column:
merged_final_15['ratio']= merged_final_15['Self-citations'] / merged_final_15['Citations']

# Check the data:
merged_final_15['ratio']

/tmp/ipykernel_308746/3119683807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_final_15['ratio']= merged_final_15['Self-citations'] / merged_final_15['Citations']

Country
China                 0.689313
United States         0.335031
Japan                 0.275997
United Kingdom        0.183773
Russian Federation    0.362517
Canada                0.190369
Germany               0.195111
India                 0.288973
France                0.218943
South Korea           0.197035
Italy                 0.238364
Spain                 0.194299
Iran                  0.332782
Australia             0.171939
Brazil                0.237159
Name: ratio, dtype: float64

In [238]:
# Return the max ration and the country name in a tuple:
(merged_final_15['ratio'].idxmax(), merged_final_15['ratio'].max())

('China', 0.6893126179389422)

### Step 7
- Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.
> This step should return a series named HighRenew whose index is the country name sorted in ascending order of rank.

In [240]:
# Find the % Renewable median:
renewale_median= merged_final_15['% Renewable'].median()

In [244]:
# Create the column and assign values:
# Assin 1 if the country's % Renewable value is at or above the median for all countries in the top 15
# Assign 0 otherwise

merged_final_15['HighRenew'] = (merged_final_15['% Renewable'] >= renewale_median).astype(int)

/tmp/ipykernel_308746/1658283739.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_final_15['HighRenew'] = (merged_final_15['% Renewable'] >= renewale_median).astype(int)

In [245]:
merged_final_15['HighRenew']

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

### Step 10
- Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```JSON
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```
- This function should return a DataFrame with index named Continent
```
['Asia', 'Australia', 'Europe', 'North America', 'South America']
``` and columns ```['size', 'sum', 'mean', 'std']```

In [246]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [247]:
# Find the contiont for each country based on the givin dictionary:
merged_final_15['Continent'] = merged_final_15.index.map(lambda x: ContinentDict.get(x))
merged_final_15['Continent']

/tmp/ipykernel_308746/1070873518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_final_15['Continent'] = merged_final_15.index.map(lambda x: ContinentDict.get(x))

Country
China                          Asia
United States         North America
Japan                          Asia
United Kingdom               Europe
Russian Federation           Europe
Canada                North America
Germany                      Europe
India                          Asia
France                       Europe
South Korea                    Asia
Italy                        Europe
Spain                        Europe
Iran                           Asia
Australia                 Australia
Brazil                South America
Name: Continent, dtype: object

In [248]:
# Find the population:
merged_final_15['Population'] = merged_final_15['Energy Supply'] / merged_final_15['Energy Supply per Capita']

/tmp/ipykernel_308746/53818401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_final_15['Population'] = merged_final_15['Energy Supply'] / merged_final_15['Energy Supply per Capita']

In [249]:
merged_final_15['Population']

Country
China                 1.367645e+09
United States         3.176154e+08
Japan                 1.274094e+08
United Kingdom        6.387097e+07
Russian Federation    1.435000e+08
Canada                3.523986e+07
Germany               8.036970e+07
India                 1.276731e+09
France                6.383735e+07
South Korea           4.980543e+07
Italy                 5.990826e+07
Spain                 4.644340e+07
Iran                  7.707563e+07
Australia             2.331602e+07
Brazil                2.059153e+08
Name: Population, dtype: float64

In [256]:
# Find the required statistics based on the population:

merged_final_15.groupby('Continent').agg({'Population': ['count', "sum", "mean", "std"]})

              Population
                   count           sum          mean           std
Continent
Asia                   5  2.898666e+09  5.797333e+08  6.790979e+08
Australia              1  2.331602e+07  2.331602e+07           NaN
Europe                 6  4.579297e+08  7.632161e+07  3.464767e+07
North America          2  3.528552e+08  1.764276e+08  1.996696e+08
South America          1  2.059153e+08  2.059153e+08           NaN